<ion-view view-title="พื้นที่ปลูก">
    <ion-content>
        <div class="padding">
            แบบประเมินแหล่งผลิตของเกษตรกรเบื้องตน: พื้นที่ปลูก

            <div class="card item-text-wrap">
                <ion-checkbox ng-model="data.crop_res1">{{q[1].gap_ans1}}</ion-checkbox>
            </div>
            <div class="card item-text-wrap">
                <ion-checkbox ng-model="data.crop_res2">{{q[1].gap_ans2}}</ion-checkbox>
            </div>
            <div class="card item-text-wrap">
                <ion-checkbox ng-model="data.crop_res3">{{q[1].gap_ans3}}</ion-checkbox>
            </div>
            <div class="padding">
                <button class="button icon-right button-calm" ng-click="sendMessage()" ng-disabled="!isPersonChanged();"> ส่งข้อมูล </button>
            </div>
        </div>
    </ion-content>
</ion-view>
