<ion-view view-title="การจัดเก็บวัตถุอันตรายทางการเกษตร">
    <ion-content>
    <div class="padding">
            แบบประเมินแหล่งผลิตของเกษตรกรเบื้องตน: การบันทึกข้อมูลเอกสารต่างๆ
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="data.record1">{{q[4].gap_ans1}}</ion-checkbox>
            </div>
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="data.record2">{{q[4].gap_ans2}}</ion-checkbox>
            </div>
             <div class="item item-text-wrap">
                <ion-checkbox ng-model="data.record3">{{q[4].gap_ans3}}</ion-checkbox>
            </div>
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="data.record4">{{q[4].gap_ans4}}</ion-checkbox>
            </div> 
            <div class="padding">
                <button class="button icon-right button-calm" ng-click="sendMessage()" ng-disabled="!isPersonChanged();"> ส่งข้อมูล </button>
            </div>

        </div>
    </ion-content>
</ion-view>
