<ion-view view-title="ข้อมูลพื้นฐานที่เกี่ยวข้อง">
    <ion-content>
        <div class="padding">รหัสแปลง : 
        <h3>{{parcel.alrcode}}</h3>
        </div> 
        <div class="padding">
            <div class="list list-inset">
<!--                 {{q[0].q_desc}}
<label class="card item-input">
    <input type="text" ng-model="data.alrcode" ng-value="pacelData">
</label> -->                
                {{q[11].q_desc}}
                <div class="card list-inset">
                <ion-list>
                    <ion-radio  ng-model="data.alr_center" ng-value="q[11].ans1" name="alr_center">{{q[11].ans1}}</ion-radio>
                    <ion-radio  ng-model="data.alr_center" ng-value="q[11].ans2" name="alr_center">{{q[11].ans2}}</ion-radio>
                    </ion-list>
                </div>
                {{q[12].q_desc}}
                <div class="card list-inset">
                <ion-list>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans1" name="alr_type">{{q[12].ans1}}</ion-radio>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans2" name="alr_type">{{q[12].ans2}}</ion-radio>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans3" name="alr_type">{{q[12].ans3}}</ion-radio>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans4" name="alr_type">{{q[12].ans4}}</ion-radio>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans5" name="alr_type">{{q[12].ans5}}</ion-radio>
                    <ion-radio  ng-model="data.alr_type" ng-value="q[12].ans6" name="alr_type">{{q[12].ans6}}</ion-radio>
                    </ion-list>
                </div>
                {{q[13].q_desc}}
                <div class="card list-inset">
                <ion-list>
                    <ion-radio  ng-model="data.alr_model" ng-value="q[13].ans1" name="alr_model">{{q[13].ans1}}</ion-radio>
                    <ion-radio  ng-model="data.alr_model" ng-value="q[13].ans2" name="alr_model">{{q[13].ans2}}</ion-radio>
                    <ion-radio  ng-model="data.alr_model" ng-value="q[13].ans3" name="alr_model">{{q[13].ans3}}</ion-radio>
                    <ion-radio  ng-model="data.alr_model" ng-value="q[13].ans4" name="alr_model">{{q[13].ans4}}</ion-radio>
                    </ion-list>
                </div>
                {{q[14].q_desc}}
                <div class="card list-inset">
                <ion-list>
                    <ion-radio  ng-model="data.alr_proten" ng-value="q[14].ans1" name="alr_proten">{{q[14].ans1}}</ion-radio>
                    <ion-radio  ng-model="data.alr_proten" ng-value="q[14].ans2" name="alr_proten">{{q[14].ans2}}</ion-radio>
                    <ion-radio  ng-model="data.alr_proten" ng-value="q[14].ans3" name="alr_proten">{{q[14].ans3}}</ion-radio>
                    <ion-radio  ng-model="data.alr_proten" ng-value="q[14].ans4" name="alr_proten">{{q[14].ans4}}</ion-radio>
                    <ion-radio  ng-model="data.alr_proten" ng-value="q[14].ans5" name="alr_proten">{{q[14].ans5}}</ion-radio>
                    </ion-list>
                </div>
                {{q[15].q_desc}}
                <div class="card list-inset">
                <ion-list>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans1" name="alr_need"><h3>{{q[15].ans1}}</h3></ion-radio>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans2" name="alr_need"><h3>{{q[15].ans2}}</h3></ion-radio>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans3" name="alr_need"><h3>{{q[15].ans3}}</h3></ion-radio>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans4" name="alr_need"><h3>{{q[15].ans4}}</h3></ion-radio>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans5" name="alr_need"><h3>{{q[15].ans5}}</h3></ion-radio>
                    <ion-radio  ng-model="data.alr_need" ng-value="q[15].ans6" name="alr_need"><h3>{{q[15].ans6}}<ion-list></ion-radio>
                </div>
            </div>
            <div class="padding">
                <button class="button icon-right button-calm" ng-click="sendMessage()" ng-disabled="!isPersonChanged();"> ส่งข้อมูล </button>
            </div>
            <div ng-bind="response"></div>
<!--             <h6>สถานะการกรอกข้อมูล</h6>
<progress id="progressbar" max="100" value="{{ progressval }}"> </progress>
<div id="progressbarlabel">{{ progressval }} %</div>
<div class="card">
    <div class="item item-text-wrap">
        Response: <b ng-bind="response"></b>
    </div>
</div> -->
        </div>
    </ion-content>
</ion-view>
